In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql 
pymysql.install_as_MySQLdb()

In [2]:
# use file expported after data cleaning
data = pd.read_csv('resources/tableau_data.csv')
# convert to dataframe
nut_df = pd.DataFrame(data)
nut_df.head()

,Unnamed: 0,s_name_x,en_name_x,lon_x,lat_x,s_name_y,en_name_y,lon_y,lat_y,distance_ft,resistance
0,162564,Carya illinoinensis,Pecan,-97.734367,30.288241,Morus alba,White mulberry,-97.734289,30.288133,46.505648,1
1,182851,Carya illinoinensis,Pecan,-97.734881,30.289583,Morus alba,White mulberry,-97.734814,30.289648,31.792067,1
2,203141,Carya illinoinensis,Pecan,-97.734438,30.278951,Morus alba,White mulberry,-97.734328,30.278908,38.021929,1
3,243715,Carya illinoinensis,Pecan,-97.735491,30.291414,Morus alba,White mulberry,-97.735550,30.291511,40.018978,1
4,245971,Carya illinoinensis,Pecan,-97.735491,30.291414,Borassus,Palymra palm,-97.735347,30.291440,46.583791,1

In [3]:
# create connection to database
engine = create_engine('mysql://qvencmith3352t7o:y5yh14d68ozhspvc@cig4l2op6r0fxymw.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/eparayipn70308ss')

In [4]:
#Write DataFrames to MySQL
nut_df.to_sql(name='nut_data', con=engine, if_exists='replace', index=False)

In [7]:
with engine.connect() as con:
    con.execute("ALTER TABLE nut_data ADD ID int AUTO_INCREMENT PRIMARY KEY;")

In [8]:
# check for tables
engine.table_names()
#Check Results
pd.read_sql_query('select * from nut_data', con=engine).head()

,Unnamed: 0,s_name_x,en_name_x,lon_x,lat_x,s_name_y,en_name_y,lon_y,lat_y,distance_ft,resistance,ID
0,162564,Carya illinoinensis,Pecan,-97.734367,30.288241,Morus alba,White mulberry,-97.734289,30.288133,46.505648,1,1
1,182851,Carya illinoinensis,Pecan,-97.734881,30.289583,Morus alba,White mulberry,-97.734814,30.289648,31.792067,1,2
2,203141,Carya illinoinensis,Pecan,-97.734438,30.278951,Morus alba,White mulberry,-97.734328,30.278908,38.021929,1,3
3,243715,Carya illinoinensis,Pecan,-97.735491,30.291414,Morus alba,White mulberry,-97.735550,30.291511,40.018978,1,4
4,245971,Carya illinoinensis,Pecan,-97.735491,30.291414,Borassus,Palymra palm,-97.735347,30.291440,46.583791,1,5